.container {
  display: grid;
  grid-template-areas: 'video anime' 'episodes episodes';
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1em;
}

.heading {
  font-size: 2rem;
}

.video {
  grid-area: video;
}

.video video {
  border-radius: 1rem;
  display: block;
  width: 100%;
}

.animeInfo {
  grid-area: anime;
  background-color: #00acc1;
  border-radius: 1rem;
  color: white;
  padding: 0.8em;
}

.episodes {
  grid-area: episodes;
  display: flex;
  column-gap: 0.8rem;
}

.episodeButton {
  color: white;
  font-size: 1.2rem;
  padding: 0.7em 1em;
  border-radius: 10px;
  background-color: #00acc1;
  transition: background-color linear 0.2s;
}

.episodeButton:hover {
  background-color: #00838f;
}
